
    
<ul id="post-comments-<%= post._id %>" class="comments-list">
    
       
        <div class="comments-view-container">
        <% if(post.comments.length != 0){ %>
            <h3 id="comment-heading">All Comments: </h3>
        <% } %>
        
        <% for (comment of post.comments){%>
            <li id="comment-<%= comment._id %>" class="comment-list-item">
                      
                    <div id="for-border"></div>
                    <h4 id="user-name">
                        <%= comment.user.name %>
                    </h4>
                    
                   
                    <% if(locals.user && locals.user.id == comment.user.id){ %> 
                            <a href="/users/delete-comment/<%= comment._id %>" id="delete-comment">X</a>
                    <% } %>
                    
                    <div id="comment-likes-container">
                        <% if (locals.user){ %>
                            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/users/toggle/?id=<%=comment._id%>&type=Comment" >
                                    <%= comment.likes.length %> Likes
                            </a>
                        <% }else{ %>
                            <p id="likes-length"><%= comment.likes.length %> Likes </p>
                        <% } %>
                    </div>
                    <p id="comment-content"><%= comment.content %></p>
                    <div id="for-border"></div>
            </li>
            
            <%} %>
   
        </div>
</ul>

