<link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
<header >
    <div id="head">
        <div id="name">
         
          <div id="icon-container">
            <div id="home-image-a">
              <a href="/" id="i-hom">
                <!-- <img src="https://img.icons8.com/windows/32/000000/home.png" id="f-img"/> -->
                <img src="https://img.icons8.com/material-outlined/27/ffffff/home--v2.png" id="f-img"/>
              </a>
            </div>
            <div id="user-friend-a">
              <a href="/users/users&friends" id="i-hom">
                <img src="https://img.icons8.com/ios-glyphs/27/ffffff/group.png" id="f-img"/>

              </a>
            </div>
            
          </div>
          <div class="search-container"> 
            <div class="search-input">
              <form action="/search-user" method="post" class="form-search">
                <div class="search-in" >
                  <input type="text" class="input-ser" name="searchUser" placeholder="Enter email to search">
                  
                </div>
                
                <div class="search-icon">
                
                  <button type="submit" class="search-btn" id="search-text"> <img src="https://img.icons8.com/ios-glyphs/27/ffffff/search--v1.png" id="search-i"/></button>
                </div>
              </form>
            </div>
            
          </div>
          <div id="joinow"> <p id="app-name">JOINOW</p> </div> 
          
        </div>
        
        <div id="head-list">
         
            <% if(locals.user){ %>
           
                
                
                      
                      <div class="drop ">
                        <!-- <img src="http://localhost:8000/users/profile/<%= user.avatar %>" alt="<%= user.name %>" id="profile-pic" height="100px" width="100px"> -->
                        <a class="dropdown-toggle dropdown-new" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <% if(user.avatar){ %>
                          <div>
                            <img src="http://joinow.herokuapp.com/users/profile/<%= user.avatar %>"  id="user-dp" >
                          </div>
                          <% } else {%>
                            <img src="https://img.icons8.com/material-sharp/34/ffffff/user.png" id="user-dp"/>
                            
                         <%  } %>
                          <div id="user-name-head-con">
                            <span id="user-name-head"><%= user.name %></span>
                          </div>
                          
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/users/profile/<%= user._id %>">View Profile</a>
                          <a class="dropdown-item" href="/users/signout">Sign-Out</a>
                     
                        </div>
                      </div>
                      
                      
                  
                  
                
                
                
        
        
            <% } %>
              
          
    </div>

</header>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
      $("#list-item").css({
        "border": "none",
      });
     
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.drop-icon-header')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
