
    <li id="post-<%= post._id %>">
            <p>
                <%= post.post_content %>
                    
                        
                <p><img src="<%= post.avatar %>" alt="<%= post.userss.name %>" width="100px" height="100px"></p>            
                        
                <small>
                        <% if (locals.user){ %>
                            <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/users/toggle/?id=<%=post._id%>&type=Post">
                                    <%= post.likes.length %> Like
                            </a>
                        <% }else{ %>
                            <%= post.likes.length %> Likes
                        <% } %>
                    </small>  
                <br>
                <% if(locals.user && locals.user.id == post.userss.id) { %>
                        <a class="delete-post" href="/users/delete-post/<%= post._id %>" >Delete Post </a>
                <% } %>
                <br>
                <small><%= post.userss.name %></small>
            </p>
            <div id="post-form">
                    <% if(locals.user){ %>
                            <form action="/users/create-comment"  id="new-comment"method="POST" >
                                    <input type="text" name="comment" placeholder="Add Comment">
                                    <input type="hidden" name="post" value="<%= post._id %>">
                                    <input type="submit" value="Add Comment" id="button">
                            </form>
                    <% } %>
            </div>

            <div class="post-comments-list">
                <%- include('_comment'); %>
            </div>
    </li>
    
