<link rel="stylesheet" type="text/css" href="/css/home.css">

<div id="home-container">
        <section id="post-container">
                <h1>Posts:</h1>
                <% if(locals.user){ %>
                        <form action="/users/create-posts" id="new-post" enctype="multipart/form-data" method="POST">
                                <textarea name="post_content" id="post-area" cols="30" rows="5" placeholder="Type to Post.."></textarea>
                                <input type="file" placeholder="Post PIcture" name="avatar" >
                                <input type="submit" value="Submit">
                        </form>
        
                <% } %>
        
                <div id="post-list-container">
                        <ul>
                                
                                <% for(post of posts){ %>
                                        <%- include('_posts'); %>
                                        
                                        

                                <% } %>  
                        </ul>     
                     
                </div>
        
                
        </section>
                
        <section id="friends">
                <% if(locals.user ) { %>
                        <h4>Friends</h4>
                        
                        <% for(u of allUsers) {%>
                                
                                <% if(u._id.equals(locals.user._id)){ %>
                                        <% for(f of u.friends){ %>
                                                <p>
                                                        <% let name = locals.user.name %>
                                                
                                                        
                                                        <% if(name == f.to_user.name){   %>
                                                                
                                                                <a href="/users/profile/<%= f.from_user._id %>"><%= f.from_user.name %></a>
                                                        <%} else{ %>
                                                                <a href="/users/profile/<%= f.to_user._id %>" ><%= f.to_user.name %></a>
                                                        <% } %>
                
                                                
                        
                                                </p>
                                        <% } %>
                                <% } %>
                              
                                
                                
                        <% } %>
                <% } %>
                        <h4>Users</h4>
                        <% for(u of allUsers) {%>
                                <p>
                                        
                                       
                                        <a href="/users/profile/<%= u.id %>" ><%= u.name %></a>
                                     
                                </p>
                                
                        <% } %>

               
                
                
        </section>
</div>

<script src="/js/home_comments.js"></script>

<script src="/js/toggle_likes.js" ></script>

<script>
        $('.toggle-like-button').each(function(){
                // console.log(this);
                let self = this;
                let toggleLike = new ToggleLike(self);
        })
</script>
