<link rel="stylesheet" type="text/css" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" type="text/css" href="<%= assetPath('css/chat_box.css') %>">

<div id="home-container">
        
                <section id="home-routes">
                        <% if(!locals.user){ %>
                        <a href="/users/signin" class="route"><p  id="sign-in-home">Sign-In </p></a>
                        <h3>New User ?</h3>
                         <a href="/users/signup" class="route"><p  id="sign-up-home">Sign-Up </p></a>
                         <% } %>
        
                </section>
        
        <section id="post-container">
                <div id="wall">
                        <% if(locals.user){ %>
                                <form action="/users/create-posts" id="new-post" enctype="multipart/form-data" method="POST">
                                        <input name="post_content" id="post-area" type="text" placeholder="Type here.."></textarea>
                                        <input type="file" placeholder="Post Picture" name="avatar" id="pic" class="custom-file-input">
                                        <input type="submit" value="Post" id="button">
                                </form>
                
                        <% } %>
                
        
                        <div id="post-list-container">
                                <ul id="post-list">
                                        
                                        <% for(post of posts){ %>
                                                <%- include('_posts'); %>
                                                
                                                

                                        <% } %>  
                                </ul>     
                        
                        </div>
                </div>
                
        </section>
                
        <section id="friends">
                <% if(locals.user ) { %>
                        <h4 id="friends-list">Friends</h4>
                        
                        <% for(u of allUsers) {%>
                                
                                <% if(u._id.equals(locals.user._id)){ %>
                                        <% for(f of u.friends){ %>
                                                <p id="friend-details">
                                                        <% let name = locals.user.name %>
                                                
                                                        
                                                        <% if(name == f.to_user.name){   %>
                                                                
                                                                <a href="/users/profile/<%= f.from_user._id %>" id="f-name"><%= f.from_user.name %></a>
                                                        <%} else{ %>
                                                                <a href="/users/profile/<%= f.to_user._id %>" id="f-name"><%= f.to_user.name %></a>
                                                        <% } %>
                
                                                
                        
                                                </p>
                                        <% } %>
                                <% } %>
                              
                                
                                
                        <% } %>
                <% } %>
                        <h4 id="all-users">All Users</h4>
                        <% for(u of allUsers) {%>
                                <p id="all-users-list">
                                        <% if(locals.user ) { %>
                                        
                                                <% if(u.name == locals.user.name){ %>
                                                        <% continue %>
                                                <%}%>
                                        <% } %>
                                        <a href="/users/profile/<%= u.id %>" id="user-name-home" ><%= u.name %></a>
                                     
                                </p>
                                
                        <% } %>

               
                
                
        </section>
        <%- include('_chat_box') -%>
</div>

<script src="<%= assetPath('js/home_comments.js') %>"></script>

<script src="<%= assetPath('js/toggle_likes.js') %>" ></script>

<script>
     
        
        $('.toggle-like-button').each(function(){
              
                let self = this;
                

                let toggleLike = new ToggleLike(self);
               
        })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>' );
</script>
<% } %>