<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- <link rel="stylesheet" type="text/css" href="/css/home.css"> -->
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    
    <body>
        <%- include('_header'); %>
        <main id="layout-main">
            <%- body %>
        </main>
        
        <%- include('_footer'); %>
    </body>
</html>