<link rel="stylesheet" href="<%= assetPath('css/profile.css') %>">
<%- include('_header'); %>



<div id="profile-container">

   <% if(locals.user.id==profile_user.id){ %>
      <div id="profile-container-2">
         <div id="cover-background"></div>
            <div id="profile-pic-container">
               <img src="<%= user.avatar %>" alt="<%= user.name %>" id="profile-pic">
            </div>
            
        
         
         <div id="update-form-container">
            <form action="/users/profile-update/<%= user.id %>" enctype="multipart/form-data" method="POST" class="update-form">

            <input type="text" name="name" value="<%= user.name %>" id="userName">
            <input type="text" name="email" value="<%= user.email %>" id="userEmail">
            <div class="file-input">
               <input type="file" placeholder="Profile PIcture" name="avatar" id="file">
               <label for="file">Edit Profile Photo</label>
            </div>
            <!-- <input type="file" placeholder="Cover pic" name="avatarCover"> -->
            
            <button class="button">Update me</button>
             
         </form>
      </div>
      <div id="border"></div>
      <div id="posts-container-inprofile">
         <div id="posts-name">
            Posts
         </div>
         
         <div id="users-posts-container-p">
            <div id="post-p-container">
               <% var s = 0 %>
               <% for(var i of uPosts){ %>
                  <% if(i.userss.id == profile_user.id && i.avatar ){ %>
                     <% s= s+1 %> 
                     <div id="post-p">
                        
                        <% if(!i.avatar){ %>
                        
                           <p  ><%= i.post_content %></p>
                           <% continue %>
                        <% } %>
                        <img src="http://joinow.herokuapp.com/<%= i.avatar %>" alt="<%= i.userss.name %>" id="userProfile-posts-img">
                        <div class="middle">
                           <div class="text">
                              
                              <p ><%= i.likes.length %></p>
                                        
                              <img class="p-icons" src="https://img.icons8.com/ios-glyphs/30/000000/filled-like.png"/ id="">
                                        
                              <p id=""><%= i.comments.length %> </p>
                              <img class="p-icons" src="https://img.icons8.com/metro/26/000000/comments.png"/ id="">
                           </div>
                           
                         </div>
                     </div>
                     
                  <% } %>
               <% } %> 
       
               <% if(s==0){ %>
                  <div id="zposts"> No posts yet </div>
                 
               <% } %>
            </div>
         </div>
      </div>
      
</div>
         

   <% }else{ %>
      <div id="main-div">
         <div id="cover-background"></div>
         
         <div id="user-details-container" class="other-user-details-container">
            <div id="user-details">  
               <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" id="img3">
               <br>
              
               <p ><b><%= profile_user.name %></b></p>
               <p><%= profile_user.email %></p>
               
               
               
               <% let present = false %>
            
               <% for(friend1 of locals.user.friends) { %>
         
                  <% for(friend2 of profile_user.friends) { %>
            
                     <% if(  friend1.equals(friend2._id) ){  %> 
                        <% present = true %>
                        <p id="p-friend">
                           <a href="/users/friend-req/<%= profile_user.id %>" id="add-friend" >Un-friend</a>
                        </p>
                        <% break %>
                     <% }  %>
                  
                  <% } %>
               <% } %>
         
               <% if(present == false){ %>
                  <p id="p-friend">
                     <a href="/users/friend-req/<%= profile_user.id %>" id="add-friend" >Add-friend</a>
                  </p>
                  
               <% } %>
               
      
            </div>
            
            
         </div>
         <% if(profile_user.friends.length != 0){ %>
            <div id="friends-container3">
            
               <div id="friends3">
                  <p id="friends-heading"><b> Friends - <%= profile_user.friends.length %></b></p>
                
               <div id="all-friends-div">
                  <% for(f of profile_user.friends){ %>
                     
                        <p id="friend-p">
                           <% let name = profile_user.name %>
                   
                        
                           <% if(name == f.to_user.name){   %>
                                   
                                   <img src="<%= f.from_user.avatar %>" alt="<%= f.from_user.name %>" height="100px" width="100px" id="f-image">
                             
                                    <span id="f-name"><%= f.from_user.name %></span>
                                    <a href="/users/profile/<%= f.from_user._id %>" id="v-profile">View Profile</a>
                                  
                                   
                           <%} else{ %>
                                   <img src="<%= f.to_user.avatar %>" alt="<%= f.to_user.name %>" height="100px" width="100px" id="f-image">
                                   
                                   <span id="f-name"><%= f.to_user.name %></span>
                                   <a href="/users/profile/<%= f.to_user._id %>" id="v-profile">View Profile</a>
                           <% } %>
       
                   
       
                        </p>
                     
                    
                  <% } %>
               </div>
               </div>
            
             
            
            </div>
         <% } %>
      </div>
      
      
      
   <% } %>
   


   <script>
         function zposts(){
            alert("Page is loaded");
            console.log("called------------");
         }

      // "The full URL of this page is:<br>" + window.location.origin;
      </script>