<link rel="stylesheet" href="/css/profile.css">
<div id="profile-container">

   <% if(locals.user.id==profile_user.id){ %>
      <h1>
         <img src="/assets/images/cover.jpg" alt="cover pic" id="cover-pic">
         <img src="<%= user.avatar %>" alt="<%= user.name %>" id="profile-pic">
      
      </h1>
     
      <form action="/users/profile-update/<%= user.id %>" enctype="multipart/form-data" method="POST">

         <input type="text" name="name" value="<%= user.name %>" id="userName">
         <input type="text" name="email" value="<%= user.email %>" id="userEmail">
         <div class="file-input">
            <input type="file" placeholder="Profile PIcture" name="avatar" id="file">
            <label for="file">Edit Profile Photo</label>
         </div>
         <!-- <input type="file" placeholder="Cover pic" name="avatarCover"> -->
         
         <button class="button">Update me</button>
          
      </form>

   <% }else{ %>
      
      <p><%= profile_user.name %></p>
      <p><%= profile_user.email %></p>
   <% } %>

</div>

<script>
 
   document.addEventListener('DOMContentLoaded', function () {
   var btn = document.querySelector('.button'),
      loader = document.querySelector('.loader'),
      check = document.querySelector('.check');
  
  btn.addEventListener('click', function () {
    loader.classList.add('active');    
  });
 
  loader.addEventListener('animationend', function() {
    check.classList.add('active'); 
  });
});

</script>