<link rel="stylesheet" href="<%= assetPath('css/profile.css') %>">
<%- include('_header'); %>



<div id="profile-container">

   <% if(locals.user.id==profile_user.id){ %>
      <div id="profile-container-2">
         <div id="cover-background"></div>
            <div id="profile-pic-container">
               <img src="<%= user.avatar %>" alt="<%= user.name %>" id="profile-pic">
            </div>
            
        
         
         <div id="update-form-container">
            <form action="/users/profile-update/<%= user.id %>" enctype="multipart/form-data" method="POST" class="update-form">

            <input type="text" name="name" value="<%= user.name %>" id="userName">
            <input type="text" name="email" value="<%= user.email %>" id="userEmail">
            <div class="file-input">
               <input type="file" placeholder="Profile PIcture" name="avatar" id="file">
               <label for="file">Edit Profile Photo</label>
            </div>
            <!-- <input type="file" placeholder="Cover pic" name="avatarCover"> -->
            
            <button class="button">Update me</button>
             
         </form>
      </div>
     
      
      <div id="border"></div>
</div>
         

   <% }else{ %>
      <div id="main-div">
         <div id="cover-background"></div>
         
         <div id="user-details-container" class="other-user-details-container">
            <div id="user-details">  
               <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" id="img3">
               <br>
              
               <p ><b><%= profile_user.name %></b></p>
               <p><%= profile_user.email %></p>
               
               
               
               <% let present = false %>
            
               <% for(friend1 of locals.user.friends) { %>
         
                  <% for(friend2 of profile_user.friends) { %>
            
                     <% if(  friend1.equals(friend2._id) ){  %> 
                        <% present = true %>
                        <p id="p-friend">
                           <a href="/users/friend-req/<%= profile_user.id %>" id="add-friend" >Un-friend</a>
                        </p>
                        <% break %>
                     <% }  %>
                  
                  <% } %>
               <% } %>
         
               <% if(present == false){ %>
                  <p id="p-friend">
                     <a href="/users/friend-req/<%= profile_user.id %>" id="add-friend" >Add-friend</a>
                  </p>
                  
               <% } %>
               
      
            </div>
            
            
         </div>
         <% if(profile_user.friends.length != 0){ %>
            <div id="friends-container3">
            
               <div id="friends3">
                  <p id="friends-heading"><b> Friends - <%= profile_user.friends.length %></b></p>
                
               <div id="all-friends-div">
                  <% for(f of profile_user.friends){ %>
                     
                        <p id="friend-p">
                           <% let name = profile_user.name %>
                   
                        
                           <% if(name == f.to_user.name){   %>
                                   
                                   <img src="<%= f.from_user.avatar %>" alt="<%= f.from_user.name %>" height="100px" width="100px">
                                   <br>
                                   
                                   <a href="/users/profile/<%= f.from_user._id %>" id="f-name"><%= f.from_user.name %></a>
                           <%} else{ %>
                                   <img src="<%= f.to_user.avatar %>" alt="<%= f.to_user.name %>" height="100px" width="100px">
                                   <br>
                                   
                                   <a href="/users/profile/<%= f.to_user._id %>" id="f-name"><%= f.to_user.name %></a>
                           <% } %>
       
                   
       
                        </p>
                     
                    
                  <% } %>
               </div>
               </div>
            
             
            
            </div>
         <% } %>
      </div>
      
      
      
   <% } %>
   


