<section id="friends">
    <% if(locals.user ) { %>
            <h4 id="friends-list">Friends</h4>
            
            <% for(u of allUsers) {%>
                    
                    <% if(u._id.equals(locals.user._id)){ %>
                            <% for(f of u.friends){ %>
                                    <p id="friend-details">
                                            <% let name = locals.user.name %>
                                    
                                            
                                            <% if(name == f.to_user.name){   %>
                                                    
                                                    <a href="/users/profile/<%= f.from_user._id %>" id="f-name"><%= f.from_user.name %></a>
                                            <%} else{ %>
                                                    <a href="/users/profile/<%= f.to_user._id %>" id="f-name"><%= f.to_user.name %></a>
                                            <% } %>
    
                                    
            
                                    </p>
                            <% } %>
                    <% } %>
            
                    
                    
            <% } %>
    <% } %>
            <h4 id="all-users">All Users</h4>
            <% for(u of allUsers) {%>
                    <p id="all-users-list">
                            <% if(locals.user ) { %>
                            
                                    <% if(u.name == locals.user.name){ %>
                                            <% continue %>
                                    <%}%>
                            <% } %>
                            <a href="/users/profile/<%= u.id %>" id="user-name-home" ><%= u.name %></a>
                    
                    </p>
                    
            <% } %>