<link rel="stylesheet" href="<%= assetPath('css/profile.css') %>">
<div id="profile-container">

   <% if(locals.user.id==profile_user.id){ %>
      <h1>
         <div id="cover-background"></div>
         <%= user.avatar %>
         <img src="<%= user.avatar %>" alt="<%= user.name %>" id="profile-pic">
      
      </h1>
     
      <form action="/users/profile-update/<%= user.id %>" enctype="multipart/form-data" method="POST">

         <input type="text" name="name" value="<%= user.name %>" id="userName">
         <input type="text" name="email" value="<%= user.email %>" id="userEmail">
         <div class="file-input">
            <input type="file" placeholder="Profile PIcture" name="avatar" id="file">
            <label for="file">Edit Profile Photo</label>
         </div>
         <!-- <input type="file" placeholder="Cover pic" name="avatarCover"> -->
         
         <button class="button">Update me</button>
          
      </form>

   <% }else{ %>
      <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" height="200px" width="200px">
      <p><%= profile_user.name %></p>
      <p><%= profile_user.email %></p>
      <br>
      <br>
      
      <% let present = false %>
    
      <% for(friend1 of locals.user.friends) { %>

         <% for(friend2 of profile_user.friends) { %>
          
            <% if(  friend1.equals(friend2) ){  %> 
               <% present = true %>
               <a href="/users/friend-req/<%= profile_user.id %>" id="add-friend" >Un-friend</a>
               <% break %>
            <% }  %>
          
         <% } %>
      <% } %>
  
      <% if(present == false){ %>
         <a href="/users/friend-req/<%= profile_user.id %>" id="add-friend" >Add-friend</a>
      <% } %>
         


      
   <% } %>

</div>


